<div class="container-fluid p-3 mb-3">
    <div class="row">
        <% @fairs.each do |fair| %>
            <div class="col-12 col-md-6 col-lg-4 p-3">
                <div class="card">
                    <h3 class="card-header">
                    <%= fair.commune %>
                    </h3>
                    <div id="fair-card" class="card-body">
                        <h5 class="card-title"><strong>Feria: </strong><%= fair.name %></h5>
                        <p><strong>Día: </strong><%= fair.day %></td></p>
                        <p><strong>Horario: </strong>De <%= fair.start_time.strftime("%H:%M") %> a <%= fair.end_time.strftime("%H:%M") %> hrs</p>
                        <p><strong>Ubicación:</strong> En <%= fair.main_street %> con <%= fair.first_street %></p>
                        <%= link_to 'Ver más detalles', fair_path(fair.id), class: 'btn btn-warning' %>
                    </div>
                </div>
            </div>
        <% end %>    
    </div>    
</div>

