<h1>Perfil</h1>

<div class="carduser">
    <div class="row p-3 m-3">
        <% if current_user.photo %>
            <div>
                <%= image_tag current_user.photo, class: 'd-block profile float-left rounded-circle' %>
            </div>
        <% else %>
            <%= image_tag("blank-avatar.png", class: 'd-block profile float-left rounded-circle')%>
        <% end %>
        <div class="p-3">
            <h3><strong><%= current_user.name %></strong></h3>
            <p><strong>Email: </strong><%= current_user.email %></p>
            <p><strong>Sobre mí: </strong><%= current_user.about %></p>
            <%= link_to '', edit_user_path(current_user.id), class: 'btn btn-info fas fa-user-edit', remote: true%>
        </div>
    </div>
</div>

<div class="container p-3 mb-3">
    <%= render 'dashboard' %>
</div>