<nav class="navbar navbar-light fixed-top">
    <div class="container">
    <%= image_tag("logo.jpg", :alt => "Logo") %>
        <a class="navbar-brand"></a><a><h5 class="text-nav">Ferias Libres de Santiago</h5></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <% if user_signed_in? %>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <%= link_to 'Ver tu perfil', profile_path(current_user.id), class:"nav-link" %>
                </li>
                <li class="nav-item active">
                    <%= link_to 'Ver tus comentarios', opinion_path(current_user.id), class:"nav-link" %>
                </li>
            </ul>
            <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class:"nav-link" %>
            <% else %>
                <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <li class="nav-item m-2 p-1">
                    <%= link_to 'Registrarse', new_user_registration_path, class:"btn btn-success" %>
                    </li>
                    <li class="nav-item m-2 p-1">
                    <%= link_to 'Iniciar sesión', new_user_session_path, class: "btn btn-primary" %>
                    </li>
                </li> 
                </ul>
            <% end %>
            </ul>
        </div>
    </div>
</nav>