<nav class="navbar navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="<%= root_path%>">
        <%= image_tag("logo.jpg", class: 'img-fluid rounded-circle')%>
        <span class="d-inline-block align-top text-nav">Ferias Libres de Santiago</span>
        </a>
        <div class="nav navbar-nav">
            <% if user_signed_in? %>
            <ul class="nav navbar-nav d-inline-block">
                <li class="nav-item active">
                    <%= link_to 'Ver tu perfil', profile_path(current_user.id), class:'btn btn-dark' %>
                    <%= link_to 'Ver tus comentarios', fair_opinions_path(current_user.id), class:'btn btn-dark' %>
                    <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class:'btn btn-dark' %>
                </li>   
            </ul>
            <% else %>
            <ul class="nav navbar-nav d-inline-block">
                <li class="nav-item active">
                    <%= link_to 'Registrarse', new_user_registration_path, class:'btn btn-success' %>
                    <%= link_to 'Iniciar sesión', new_user_session_path, class: 'btn btn-primary' %>
                </li> 
            </ul>
            <% end %>
        </div>
    </div>
</nav>