<!DOCTYPE html>
<html>
  <head>
    <title>Ferias Libres de Santiago</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Readex+Pro&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/navbar' %>
      <div class="container p-5">
        <p class="notice p-3"><%= notice %></p>
        <p class="alert p-3"><%= alert %></p>
      <%= yield %>
      </div>
    <%= render 'shared/footer' %>
  </body>
</html>